extends layout

block content
  h1= title
  p(style="color: green;") Server is running!

  div
    h2 info
    +field("version", version)
    +status("url", url)

  div
    h2 spotify
    +status("client id", spotify.clientId)
    +status("client secret", spotify.secret())
    +warn("redirect uri", spotify.redirectUri, url)
    +field("scope", spotify.scope)

  div
    h2 discord bot
    +status("client id", discord.clientId)
    +status("bot token", discord.token)